In [35]:
from urllib import request
from bs4 import BeautifulSoup
import pandas as pd
import time

In [119]:
def extract(kvknr):
    url = "https://companyinfo.nl/freemium/?externalSearch="+kvknr
    html = request.urlopen(url).read().decode('utf8')
    raw = BeautifulSoup(html, 'html.parser').get_text()
    
    new_url = ('/').join(raw[raw.find('seoUrl')+15:raw.find('resultAmount')-5].split('\\u002F'))
    prefix = "https://companyinfo.nl/organisatieprofiel/"
    new_html = request.urlopen(prefix+new_url).read().decode('utf8')
    new_raw = BeautifulSoup(new_html, 'html.parser').get_text()
    
    reg_date = new_raw[new_raw.find('registrationDate')+19:new_raw.find('registrationDate')+29]
    emp_class = new_raw[new_raw.find('employeeClass')+16:new_raw.find('employeeClass')+18]
    
    return reg_date, emp_class

In [118]:
kvknr = '01036591'
reg_date, emp_class = extract(kvknr)

print('registraion date:\t', reg_date)
print('employee class:\t\t', emp_class)

registraion date:	 14-12-1972
employee class:		 01

In [112]:
columns = ["kvknr","reg_date","emp_class"]
kvk_processed = pd.DataFrame(columns=columns)

In [113]:
kvknr_dict = pd.read_csv("kvknr.csv", header=None, dtype=str)
kvknr_dict.columns = ["kvknr"]
counter = 0

for kvknr in kvknr_dict["kvknr"]:
    if kvknr not in kvk_processed["kvknr"].to_list():
        counter += 1
        print(kvknr)
        if counter%10 == 0:
            time.sleep(5)
        reg_date, emp_class = extract(kvknr)
        kvk_processed = kvk_processed.append(pd.DataFrame([[kvknr,reg_date,emp_class]],columns=columns),ignore_index=True)

01016460
01036591
01038431
01049319
01056343
01057929
01059705
01059721
01073381
01074543
01075732
01076443
01077124
01080805
01083826
01086273
01087782
01088698
01089415
01100930

KeyboardInterrupt:

In [114]:
kvk_processed

       kvknr    reg_date emp_class
0   01016460  21-05-2001        05
1   01036591  14-12-1972        01
2   01038431  14-12-1972        06
3   01049319  02-05-1983        04
4   01056343  23-03-1988        01
5   01057929  08-03-1989        01
6   01059705  22-03-1990        04
7   01059721  18-06-2007        01
8   01073381  14-12-1995        03
9   01074543  09-04-1996        06
10  01075732  04-09-1996        03
11  01076443  27-11-1996        04
12  01077124  06-02-1997        06
13  01080805  10-03-1998        03
14  01083826  09-02-1999        02
15  01086273  15-10-1999        03
16  01087782  24-02-2000        04
17  01088698  08-05-2000        01
18  01089415  20-07-2000        02

In [87]:
kvk_processed = kvk_processed.append(pd.DataFrame([["1234","21-02-1990","05"]],columns=columns),ignore_index=True)

In [88]:
kvk_processed.append(pd.DataFrame([["1234","21-02-1990","05"]],columns=columns),ignore_index=True)

  kvknr    reg_date emp_class
0  1234  21-02-1990        05
1  1234  21-02-1990        05

In [91]:
"1234" in kvk_processed["kvknr"].to_list()

True