In [2]:
import pandas as pd
import re

In [3]:
sbi_codes = pd.read_excel("sbi_2008_update_2019.xlsx").dropna().reset_index(drop=True)
sbi_kvk = pd.read_excel("../DatasetKvK01102019.xls", usecols=["DOSSIER","VGNUMMER","C_HOOFDACT","NEVEN1","NEVEN2"], dtype=object)

In [4]:
sbi_codes.columns = ["Code","Branch"]

In [5]:
l = []
for index, row in sbi_codes.iterrows():
    code = str(row["Code"])
    if "." not in code:
        if re.search('[a-zA-Z]', code)!=None:     
#             print(index,code)
            l.append(index)

In [6]:
sbi_hoofd_branches = pd.DataFrame(columns=["Code","Branch"])
for index in l:
#     print(sbi_codes.iloc[index])
    sbi_hoofd_branches = sbi_hoofd_branches.append(sbi_codes.iloc[index])

In [7]:
sbi_hoofd_branches.to_csv("sbi_headbranch_codes.csv",index=False)

In [8]:
l=l[1:]
l_mod = [0] + l + [max(l)+1]

list_of_dfs = [sbi_codes.iloc[l_mod[n]:l_mod[n+1]] for n in range(len(l_mod)-1)]

In [9]:
def sbi_encoder(df):
    global sbi_dict
    df = df.reset_index()
    hoofd_branch = df["Code"][0]
#     print(hoofd_branch)
    for index, row in df.iterrows():
        code = str(row["Code"])
        if "." not in code:
            if re.search('[a-zA-Z]', code)==None:     
                sbi_dict[str(code)] = hoofd_branch
#                 print(code)

In [10]:
sbi_dict = {}
for df in list_of_dfs:
    sbi_encoder(df)

In [11]:
sbi_dict

{'01': 'A',
 '02': 'A',
 '03': 'A',
 '06': 'B',
 '08': 'B',
 '09': 'B',
 '10': 'C',
 '11': 'C',
 '12': 'C',
 '13': 'C',
 '14': 'C',
 '15': 'C',
 '16': 'C',
 '17': 'C',
 '18': 'C',
 '19': 'C',
 '20': 'C',
 '21': 'C',
 '22': 'C',
 '23': 'C',
 '24': 'C',
 '25': 'C',
 '26': 'C',
 '27': 'C',
 '28': 'C',
 '29': 'C',
 '30': 'C',
 '31': 'C',
 '32': 'C',
 '33': 'C',
 '35': 'D',
 '36': 'E',
 '37': 'E',
 '38': 'E',
 '39': 'E',
 '41': 'F',
 '42': 'F',
 '43': 'F',
 '45': 'G',
 '46': 'G',
 '47': 'G',
 '49': 'H',
 '50': 'H',
 '51': 'H',
 '52': 'H',
 '53': 'H',
 '55': 'I',
 '56': 'I',
 '58': 'J',
 '59': 'J',
 '60': 'J',
 '61': 'J',
 '62': 'J',
 '63': 'J',
 '64': 'K',
 '65': 'K',
 '66': 'K',
 '68': 'L',
 '69': 'M',
 '70': 'M',
 '71': 'M',
 '72': 'M',
 '73': 'M',
 '74': 'M',
 '75': 'M',
 '77': 'N',
 '78': 'N',
 '79': 'N',
 '80': 'N',
 '81': 'N',
 '82': 'N',
 '84': 'O',
 '85': 'P',
 '86': 'Q',
 '87': 'Q',
 '88': 'Q',
 '90': 'R',
 '91': 'R',
 '92': 'R',
 '93': 'R',
 '94': 'S',
 '95': 'S',
 '96': 'S',
 '97': 'T',
 '98': 'T'}

In [12]:
sbi_kvk.head()

    DOSSIER      VGNUMMER C_HOOFDACT NEVEN1 NEVEN2
0  01016460  000018080715      52291    NaN    NaN
1  01036591  000015881202      52291  77399  77111
2  01038431  000015998142      52291   3321   4941
3  01049319  000017297222      52291    NaN    NaN
4  01056343  000017633524      52102  52109  52291

In [13]:
sbi_kvk_encoded = pd.DataFrame(columns=sbi_kvk.columns)

In [14]:
for index, row in sbi_kvk.iterrows():
    hoofdact = sbi_dict[row["C_HOOFDACT"][:2]]
    if isinstance(row["NEVEN1"], str):
        neven_1 = sbi_dict[row["NEVEN1"][:2]]
    else:
        neven_1 = None
    if isinstance(row["NEVEN2"], str):
        neven_2 = sbi_dict[row["NEVEN2"][:2]]
    else:
        neven_2 = None
    df = pd.DataFrame([[row["DOSSIER"],row["VGNUMMER"],hoofdact,neven_1,neven_2]],columns=sbi_kvk.columns)
    sbi_kvk_encoded = sbi_kvk_encoded.append(df)

In [15]:
sbi_kvk_encoded.to_csv("kvk_sbi_codes.csv",index=None)